@font-face {
  font-family: "Space Mono";
  src: url("../fonts/static/JetBrainsMono-Bold.ttf");
}
/* ------------------------------
   Variables CSS
------------------------------ */
:root {
  --font-primary: "Space Mono", serif;
  --font-size-large: clamp(2rem, 1.688rem + 1.33vw, 2.688rem); /* 32px - 43px */
  --font-size-medium: clamp(
    1.5rem,
    1.301rem + 0.85vw,
    1.938rem
  ); /* 24px - 31px */
  --font-size-regular: clamp(
    1.125rem,
    0.983rem + 0.61vw,
    1.438rem
  ); /* 18px - 23px */

  --font-weight-bold: 700;

  /* Card Colors */
  --color-neon-green: #a4ffaf;
  --color-red: #f64a4a;
  --color-orange: #fb7c58;
  --color-yellow: #f8cd65;

  --color-dark-grey: #24232c;
  --color-grey: #817d92;
  --color-ashWhite: #e6e5ea;
  --color-veryDark-grey: #191820;

  --corner-radius: 0.875rem;
  --error-color: red;

  /* Checkbox */
  --checkbox-border-color: #8b8c89;
  --checkbox-checked-color: var(--color-neon-green);
  --checkbox-disabled-bg-color: #d9d9d9;
  --checkbox-animation-duration: 0.3s;
}

/* ------------------------------
     Reset Global
  ------------------------------ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------
   Base Styles
------------------------------ */
body,
input,
button,
div {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-medium);
}

.container {
  min-width: 21.4375rem;
}

.password-field-container {
  min-height: 4rem; /* 64px */
  border: 1px solid red;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.password-field {
  border: none;
  width: 100%;
}
.copy-button {
  border: none;
  background-color: transparent;
}
.copy-field {
  display: flex;
  gap: 1rem;
  align-items: center;
}

label {
  display: flex;
  justify-content: space-between;
}

.password-length-field {
  min-height: 4.1875rem; /* 67px */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
}

.range-slider {
  --c: #a4ffaf; /* active color */
  --l: 5px; /* line thickness*/
  --s: 28px; /* thumb size*/

  width: 100%;
  height: var(--s);
  /* needed for Firefox*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

/* chromium */
input[type="range" i]::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  background: E6E5EA;
  transition: 0.3s;

  -webkit-appearance: none;
  appearance: none;

  border-image: linear-gradient(90deg, var(--c) 50%, #18171f 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw / calc(100vw);
}

.range-slider:active::-webkit-slider-thumb,
.range-slider:focus-visible::-webkit-slider-thumb {
  background: #a4ffaf;
}

.password-options {
  min-height: 8.25rem; /* 132px */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid red;
}

.password-strength,
#generatePassword {
  min-height: 3.5rem; /* 56px */
  border: 1px solid red;
}

.password-strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
}

.password-box {
  padding: 1rem;
  border: 1px solid red;
}

.button {
  width: 100%;
}

.password-option {
  display: flex;
  gap: 16px;
  align-items: center;
}

input[type="checkbox"] {
  width: 1.25rem;
  height: 1.25rem;
}

/* Checkbox base styling */
input[type="checkbox"] {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 6px;
  padding: 0;
  border: 2px solid var(--checkbox-border-color);
  appearance: none;
  background-color: transparent;
  outline: none;
  transition: outline 0.1s, background-color var(--checkbox-animation-duration),
    transform var(--checkbox-animation-duration);
}

/* Checked state styling */
input[type="checkbox"]:checked {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--checkbox-checked-color);
}

/* Click animation: transient scaling effect */
input[type="checkbox"]:active {
  transform: scale(1.1); /* Animation effect only on click */
}
input[type="checkbox"]:active + label {
  transform: scale(1.02); /* Animation effect only on click */
}

/* Icon and border color update */
input[type="checkbox"]:not(:disabled):checked {
  border-color: var(--checkbox-checked-color);
  background-image: url("../images/icon-check.svg");
}

/* Focus-visible styling */
input[type="checkbox"]:focus-visible {
  outline: 6px solid var(--checkbox-hover-color);
  transform: scale(1.05);
}

/* Label styling */
label {
  transition: opacity var(--checkbox-animation-duration),
    transform var(--checkbox-animation-duration);
}

/* Label animation for checked state */
input[type="checkbox"]:checked + label {
  opacity: 0.6; /* Adjust as needed for 'marked' appearance */
}

.strength-display {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.strength-bar {
  display: flex;
  gap: 0.5rem;
}

.bar {
  flex: 1;
  width: 10px;
  height: 28px;
  background-color: transparent;
  border: 2px solid var(--color-ashWhite);
}

.filled {
  background-color: #4caf50;
}

.bar.filled.too-weak {
  background-color: var(--color-red);
  border-color: var(--color-red);
}
.bar.filled.weak {
  background-color: var(--color-orange);
  border-color: var(--color-orange);
}
.bar.filled.medium {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow);
}
.bar.filled.strong {
  background-color: var(--color-neon-green);
  border-color: var(--color-neon-green);
}
